<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	<!-- Lorsque Spring démarre il va créer un objet de cette classe et appel la methode init -->
	<bean class="dao.ProduitDAOImpl" id="dao" init-method="init"></bean>
</beans>
